{
    "presets": ["@babel/preset-env"],
    "plugins": [
        [
            "module-resolver",
            {
                "root": ["./src"],
                "alias": {
                    "@controllers": "./src/controllers",
                    "@models": "./src/models",
                    "@routes": "./src/routes",
                    "@libs": "./src/libs",
                    "@math": "./src/math",
                    "@errors": "./src/errors",
                    "@config": "./src/config",
                    "@services": "./src/services",
                    "@swipe-engine": "./src/swipe-engine",
                    "@pages": "./src/pages"
                },
                "extensions": [".ts", ".js"]
            }
        ]
    ]
}
